<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>

    <form action="" method="get">
        <label for='nombre'> cual es tu nombre?</label>
        <input type='text' name='nombre'>
        <button type='sumbit'> enviar </button>
    </form>

    <h2> hola como estas: {{nombre}}</h2>


</body>
</html>






